<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<%= link_to 'New Product', new_product_path %>

<div id="products">
  <ul>
    <% @products.each do |product| %>
    <li>
      <%= link_to "#{product.name} (Updated: #{product.updated_at.strftime("%Y-%m-%d %H:%M:%S")})", product_path(product) %>
    </li>
    <% end %>
  </ul>
</div>